body {
    background-color: lightgrey;
    padding: 0 20px 20px 20px;
}

h1 {
    font-family: "Rubik", sans-serif;
    font-size: 60px;
    text-align: center;
    font-weight: 500;
    color:#3d3d3d;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

ul {
    
}

h2 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}

p {
    font-family: "Roboto", sans-serif;
}